<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/carpic"
        android:label="CarHub"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Myproject">
<!--        <activity-->
<!--            android:name=".AutoHub"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".stepper4"
            android:exported="false" />
        <activity
            android:name=".stepper3"
            android:exported="false" />
        <activity
            android:name=".stepper2"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".stepper1"
            android:exported="false" />
        <activity
            android:name=".Saleview"
            android:exported="false" />
        <activity
            android:name=".cardetails"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Profile" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".Message" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".Mycars" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
<!--         android:name=".Allcars"-->
<!--         android:exported="false" />-->
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>